*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@keyframes transitionIn {
    from{
        opacity: 50%;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background: #fbfaf9;
    color: black;
    animation: transitionIn 0.75s;
    padding-bottom: 50px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black; <!-- #d0c39f -->
}
.container{
    padding: 20px 10%;
}
#header {
    width: 100%;
}
.container-h{
    margin: 10px 10%;
    margin-bottom: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    margin-right: 50px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #dec3bb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
nav ul li a:hover::after{
    width: 100%;
}


/*-----------portfolio-----------*/

#portfolio {
    padding: 50px 0;
    color: white;
}
.container-p{
    padding: 2px 10%;
}
.container-header{
    display: flex;
    padding: 50px 50px;
    padding-bottom: 0px;
}
.row{
    padding: 50px 0;
    padding-bottom: 100px;
}
/*For the icon before the heading of each row*/
.container-header i{
    display: flex;
    align-items: center;
    position: center;
    font-size: 50px;
    margin: 0 10px;
}
/*For the heading of each row*/
.container-header h2{
    display: flex;
    padding: 12px;
    align-items: center;
    position: center;
    font-size: 30px;
    font-weight: 700;
}
/*icon for each project 'link'*/
.container-p h2 i{
    font-size: 40px;
    float: right;
    color: #dec3bb;
    padding: 0 10px;
}
/*Hovering over the button will change the color of the font
  awesome icon*/
.container-p h2 a:hover i{
    color: #C89D90;
    transform: translateY(-5px);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 250px;
    padding: 0 5%;
    padding-top: 150px;
    padding-bottom: 50px;
}
.work-list.first {
    padding-top: 75px;
}
.work{
    width: 450px;
    border-radius: 10px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-top: 10px;
}
.work:hover img{
    transform: scale(1.1);
}
.work-desc{
    width: 600px;
    /*margin: auto;*/
}
.work-desc h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.work-desc h2 a{
    margin: 0 20px;
}
.work-desc i{
    transition: transform 0.3s;
}
.work-desc h3{
    margin: 10px 0;
}
.work-desc p{
    line-height: 1.4;
}
.text-tools{
    width: 200px;
}
#softDev{
    animation: transitionIn 0.75s;
}



.grid-container {
    display: grid;
    grid-template-columns: 350px auto;
    grid-gap: 20px;
}

.grid-item {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}



@media only screen and (max-width: 768px){
    .sub-title{
        font-size: 40px;
    }
    .container-header{
        display: inline-block;
        padding: 20px 20px;
        margin-bottom: auto;
    }
    .row-N{
        padding: 50px 0;
        padding-bottom: 25px;
    }
    .work-list{
        display: inline-block;
    }
    .work{
        margin: 35px 0;
        width: auto;
    }
    .work-desc{
        width: auto;
    }
}